class Rectangle {
    constructor (width, height) {
        this.width  = width;
        this.height = height;
    }

    static getDefaultRectangle () {
        return new Rectangle(200, 100);
    }

    set width  (width)  { this.width = width               }
    get width  ()       { return this.width                }
    set height (height) { this.height = height             }
    get height ()       { return this.height               }
    get area   ()       { return this.width * this.height  }
}

var r = Rectangle.getDefaultRectangle();
r.area === 1000; //Erreur